<?xml version="1.0"?>

<launch>
	<!-- launch rosserial -->
	<node pkg="rosserial_python" type="serial_node.py" name="serial_connection" output="screen">
		<!--param name="baud" value="115200" /-->
		<param name="port" value="/dev/ttyUSB0" />

	</node>

	<!--connect -->
	<include file="$(find rover_bringup)/launch/crius.launch"/>

	<!-- tfs -->
	<include file="$(find rover_bringup)/launch/tf.launch"/>
	
	<!-- openni camera -->
	<include file="$(find openni2_launch)/launch/openni2.launch"/>

</launch>
