<?xml version="1.0" encoding="utf-8"?>

<launch>

	<!--connect -->
	<include file="$(find rover_bringup)/launch/px4.launch"/>

	<!-- test stuff -->
	<node pkg="teststuff" type="setpoint_attitude_publisher" name="setpoint_attitude_publisher" launch-prefix="gnome-terminal -e"/>


	<!-- tfs -->
	<!--include file="$(find rover_bringup)/launch/tf.launch"/-->
	
	<!-- openni camera -->
	<!--include file="$(find openni2_launch)/launch/openni2.launch"/-->

</launch>
